<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="main-content">
  <div class="content-card">
    <form id="new-post-form" action="/technologies" method="POST">
      <h2 id="create-post-title">Add Technology</h2>
      <input id="summary-input" type="text" name="name" placeholder="Name of technology" required>
        <button class="nav-btn" type="submit" >Add Technology</button>
    </form>
  </div>
  <div class="content-card">
    <h2 id="create-post-title">Added Technologies</h2><br>
    <% const technologiesArray = [] %>
    <% let technologyExists = false %>
    <% technologies.forEach(function(technology) { %>
      <% if(technologiesArray.includes(technology.name)) technologyExists = true%>
      <% technologiesArray.push(technology.name) %>
      <p class="admin-tech-items" style="<%= technologyExists ? 'color: red' : ''%>">
        <%= technology.name %><span style="font-style: italic;"><%= technologyExists ? '(technology already exists)' : ''%></span>
      </p>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>