<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="main-content">
  <div class="new-post-card">
    <a href="/posts/new" id="create-post-container">
      <div class="new-post-link">Create a post</div>
    </a>
  </div>
  <% posts.forEach(post => { %>
    <div class="content-card">
      <div class="post-headline">
        <h3 class="post-author">Posted by <a href="/profiles/<%= post.owner._id %>"><%= post.owner.name %></a> on <%= post.createdAt.toLocaleDateString() %></h3>
        <% if (post.owner.equals(user?.profile._id)) { %>
        <div class="post-actions">
          <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="action-btn"><i class="fa-regular fa-trash-can" style="color: #bababa;"></i> Delete</button>
          </form>
          <a href="/posts/<%= post._id %>/edit"><button class="action-btn"><i class="fa-regular fa-pen-to-square" style="color: #c4c4c4;"></i> Edit</button></a>
        </div>
        <% } %>
      </div>
      <a href="/posts/<%= post._id %>"><h2 class="post-summary"><%= post.summary %></h2></a>
      <h3 class="<%= post.resolved ? 'post-resolved' : 'post-unresolved' %>"><%= post.resolved ? 'Bug resolved!' : 'Bug In Progress' %></h3>
      <% if (post.technologies) { %>
        <p class="tech-list">
          <% post.technologies.forEach((technology, idx) => { %>
            <% if (idx < post.technologies.length-1) { %>
              <%= technology %> ·
            <% } else {%>
              <%= technology %> 
            <% } %>
          <% }) %>
        </p>
      <% } %>
    </div>
  <% }) %>
</section>

<%- include('../partials/footer') %>