<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="main-content">
  <div class="content-card">
    <a href="/posts/new" id="create-post-container">
      <div class="new-post-link">Create a post</div>
    </a>
  </div>
  <% posts.forEach(post => { %>
    <div class="content-card">
      <div class="post-headline">
        <h3 class="post-author">Posted by <a href="/profiles/<%= post.owner._id %>"><%= post.owner.name %></a> on <%= post.createdAt.toLocaleDateString() %></h3>
        <% if (post.owner.equals(user?.profile._id)) { %>
        <div class="post-actions">
          <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
          <a href="/posts/<%= post._id %>/edit"><button>Edit</button></a>
        </div>
        <% } %>
      </div>
      <h3 class="<%= post.resolved ? 'post-resolved' : 'post-unresolved' %>"><%= post.resolved ? 'Bug resolved!' : 'Bug In Progress' %></h3>
      <a href="/posts/<%= post._id %>"><h2><%= post.summary %></h2></a>
      <% if (post.technologies) { %>
        <p>
          <% post.technologies.forEach(technology => { %>
            <%= technology %>
          <% }) %>
        </p>
      <% } %>
    </div>
  <% }) %>
</section>

<%- include('../partials/footer') %>