<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="main-content">
  <div class="content-card">
    <form id="new-post-form" action="/posts" method="POST">
      <h2 id="create-post-title">Create Post</h2>
      <input id="summary-input" type="text" name="summary" placeholder="Summary" required>
      <textarea name="mainContent" class="text-area" cols="30" rows="5" placeholder="Describe your bug" required></textarea>
      <p class="bug-resolved-prompt">Did you fix your bug?: <input type="checkbox" name="resolved"></p> 
      <textarea name="reflection" class="text-area" cols="30" rows="5" placeholder="What did you learn from this bug?"></textarea>
      <fieldset id="tech-list">      
        <legend>Related Technologies</legend>  
        <% technologies.forEach(technology => { %>
          <input type="checkbox" name="technologies" value="<%= technology._id %>"><%= technology.name %><br>
        <% }) %>
      </fieldset>
      <!-- <fieldset id="tech-list">      
        <legend>Related Technologies</legend>      
        <input type="checkbox" name="technologies" value="JavaScript">JavaScript<br>      
        <input type="checkbox" name="technologies" value="HTML">HTML<br>      
        <input type="checkbox" name="technologies" value="CSS">CSS<br>      
        <input type="checkbox" name="technologies" value="Python">Python<br>      
        <input type="checkbox" name="technologies" value="ReactJS">ReactJS<br>      
        <input type="checkbox" name="technologies" value="MongoDB">MongoDB<br>      
        <input type="checkbox" name="technologies" value="Node.js">Node.js<br>      
        <input type="checkbox" name="technologies" value="Express.js">Express.js<br>      
        <input type="checkbox" name="technologies" value="Java">Java<br>      
        <input type="checkbox" name="technologies" value="C#">C#<br>      
        <input type="checkbox" name="technologies" value="C++">C++
      </fieldset>  -->
      <div>
        <button class="nav-btn" type="submit" >Create Post</button>
      </div>
    </form>
    <a href="/technologies/new"><button class="nav-btn">Add Technology</button></a>       
  </div>
</section>

<%- include('../partials/footer') %>