<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="main-content">
  <div class="content-card">
    <form id="new-post-form" action="/posts" method="POST">
      <h2 id="create-post-title">Create Post as <%= user.profile.name %></h2>
      <div class="form-fields">
        <label class="label-spacer" for="summary">Summary</label>
        <input class="form-text-area" id="summary-input" type="text" name="summary" placeholder="Summary" required>
      </div>
      <div class="form-fields">
        <label class="label-spacer" for="mainContent">Description</label>
        <textarea name="mainContent" class="text-area form-text-area" cols="30" rows="5" placeholder="Describe your bug" required></textarea>
      </div>
      <label class="form-fields" for="resolved">Did you fix your bug?: <input type="checkbox" name="resolved"></label> 
      <div class="form-fields">
        <label class="label-spacer" for="reflection">Reflection</label>
        <textarea name="reflection" class="text-area form-text-area" cols="30" rows="5" placeholder="What did you learn from this bug?"></textarea>
      </div>
      <fieldset id="tech-list">      
        <legend>Related Technologies</legend>  
        <% technologies.forEach(technology => { %>
          <input type="checkbox" name="technologies" value="<%= technology._id %>"> <%= technology.name %><br>
        <% }) %>
      </fieldset>
      <div>
        <button id="save-btn" class="nav-btn" type="submit" >Create Post</button>
      </div>
    </form>  
  </div>
</section>

<%- include('../partials/footer') %>